.App {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  text-align: center;
  max-width: 100vw;
}
.frame{
  border: '1px solid red';
  height:'auto';
  padding: 5% 10% ;
}
.App-logo {
  pointer-events: none;
  margin-left: 3vw;
  border-radius: 80px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input-field {
  width: 250px;
  max-height: 20%;
  max-width: 120px;
  margin: 5px;
}

.Button{
  margin-left: 10px;
  max-width: fit-content;
  border-radius: 10px;
  background-color: #61dafb;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}
.login-wrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-right: 10vw;
  justify-content: space-around;
}
.App-body{
  display: grid;
  grid-template-columns:  1fr 1fr;
  justify-content: center;
  border: 1px solid red;
  min-height: 80vh;
}
.register-form {
  display:flex;
  flex-direction: column;
  align-items: center;
}
.register {
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
